@model CarAuction.Models.DTO.EmailDto
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Contact Us</h1>
        </div>
    </div>
</div>
<hr />

@if (@HttpContextAccessor.HttpContext.Session.GetString("id") == null)
{
    <div class="row">
        <div class="col-md-4">
            <a href='@Url.Action("Login", "Account")' class="btn btn-primary">Login to Bid</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="@Url.Action("SendEmail", "Service")">
                @ViewBag.msg
                <div asp-validation-summary="All" class="text-danger"></div>
               
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <textarea asp-for="Body" class="form-control"></textarea>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}


