
@{
    ViewData["Title"] = "ContactUs";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Contact Us</h1>
        </div>
    </div>
</div>
<hr />

<form method="post" action="@Url.Action("SendEmail", "Service")">
    <table border="0" cellpadding="2" cellspacing="2">


        <tr>
            <td>First Name</td>
            <td>
                <input type="text" name="FirstName">
            </td>
        </tr>


        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" name="LastName">
            </td>
        </tr>


        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="Email">
            </td>
        </tr>


        <tr>
            <td>Subject of Enquiry</td>
            <td>
                <input type="text" name="Subject">
            </td>
        </tr>



        <tr>
            <td>Body</td>
            <td>
                <input type="text" name="Body">
            </td>
        </tr>



        <tr>
            <td>&nbsp;</td>
            <td><button class="btn btn-secondary my-2 my-sm-0" type="submit">Send</button></td>
        </tr>
    </table>
    </form>
