@model CarAuction.Models.DTO.SearchVehicleDto
@{
    ViewData["Title"] = "Finder";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Vehicle Finder</h1>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <form method="post" action="@Url.Action("Search", "Vehicle")">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Producer" class="control-label"></label>
                    <select asp-for="Producer" asp-items="Model.ProducerSelectList" class="form-select" name="producer"></select>
                    <span asp-validation-for="Producer" class="text-danger"></span>
                </div>

            

                <div class="form-group">
                    <label asp-for="RegistrationYear" class="control-label"></label>
                    <select asp-for="RegistrationYear" asp-items="Model.RegistrationYearSelectList" class="form-select"></select>
                    <span asp-validation-for="RegistrationYear" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SinceYear" class="control-label"></label>
                    <select asp-for="SinceYear" asp-items="Model.SinceYearSelectList" class="form-select"></select>
                    <span asp-validation-for="SinceYear" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ToYear" class="control-label"></label>
                    <select asp-for="ToYear" asp-items="Model.ToYearSelectList" class="form-select"></select>
                    <span asp-validation-for="ToYear" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="LocationName" class="control-label"></label>
                    <select asp-for="LocationName" asp-items="Model.LocationSelectList" class="form-select"></select>
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SortBy" class="control-label"></label>
                    <select asp-for="SortBy" class="form-select">
                        <option value="Id">Id</option>
                        <option value="Producer">Producer</option>
                        <option value="RegistrationYear">RegistrationYear</option>
                        <option value="NameLocation">NameLocation</option>
                        <option value="PrimaryDamage">PrimaryDamage</option>
                    </select>
                    <span asp-validation-for="SortBy" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SortDirection" class="control-label"></label>
                    <select asp-for="SortDirection" class="form-select">
                        <option value="ASC">ASC</option>
                        <option value="DESC">DESC</option>
                    </select>
                    <span asp-validation-for="SortDirection" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        <br /> 
        <br />
        <br />
    </form>
</div>



