
@{
    ViewData["Title"] = "Finder";
}

<h1>Vehicle Finder</h1>

<div>
    <form method="post" action="@Url.Action("Search", "Vehicle")">
        <table border="0" cellpadding="2" cellspacing="2">

            <tr>
                <td>Make</td>
                <td>
                    <select name="producer">
                        <option value="none">All Makes</option>
                        <option value="Alfa_Romeo">Alfa Romeo</option>
                        <option value="Audi">Audi</option>
                        <option value="BMW">BMW</option>
                        <option value="Cupra">Cupra</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="Citroen">Citroen</option>
                        <option value="Dacia">Dacia</option>
                        <option value="Dodge">Dodge</option>
                        <option value="FIAT">FIAT</option>
                        <option value="Ford">Ford</option>
                        <option value="Honda">Honda</option>
                        <option value="Hyundai">Hyundai</option>
                        <option value="Kia">Kia</option>
                        <option value="Land_Rover">Land Rover</option>
                        <option value="Jeep">Jeep</option>
                        <option value="Lexus">Lexus</option>
                        <option value="Mazda">Mazda</option>
                        <option value="Mercedes">Mercedes</option>
                        <option value="Mini">Mini</option>
                        <option value="Mitsubishi">Mitsubishi</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Opel">Opel</option>
                        <option value="Peugeot">Peugeot</option>
                        <option value="Renault">Renault</option>
                        <option value="Seat">Seat</option>
                        <option value="Skoda">Skoda</option>
                        <option value="Subaru">Subaru</option>
                        <option value="Suzuki">Suzuki</option>
                        <option value="Tesla">Tesla</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Volvo">Volvo</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>Year</td>
                <td>
                    <select name="registrationYear">
                        <option value="0">All Years</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </td>
            </tr>



            <tr>
                <td>Year</td>
                <td>
                    <select name="sinceYear">
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                    To
                    <select name="toYear">
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>Location</td>
                <td>
                    <select name="locationName">
                        <option value="">All Locations</option>
                        <option value="Espoo">Espoo</option>
                        <option value="Oulu">Oulu</option>
                        <option value="Pirkkala">Pirkkala</option>
                        <option value="Turku">Turku</option>
                    </select>
                </td>
            </tr>


            <tr>
                <td>PageNumber</td>
                <td>
                    <select name="PageNumber">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>PageSize</td>
                <td>
                    <select name="PageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>SortBy</td>
                <td>
                    <select name="SortBy">
                        <option value="Id">Id</option>
                        <option value="Producer">Producer</option>
                        <option value="RegistrationYear">RegistrationYear</option>
                        <option value="NameLocation">NameLocation</option>
                        <option value="PrimaryDamage">PrimaryDamage</option>

                    </select>
                </td>
            </tr>



            <tr>
                <td>SortDirection</td>
                <td>
                    <select name="SortDirection">
                        <option value="ASC">ASC</option>
                        <option value="DESC">DESC</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td><button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button></td>
            </tr>
        </table>
    </form>


</div>



