@model CarAuction.Models.Vehicle
@{
    ViewData["Title"] = "Lot";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>@Model.RegistrationYear @Model.Producer</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="col-sm-4">
            <img src="~/Images/" width="350" height="350" asp-append-version="true" />
        </div>
    </div>


    <div class="col-md-4">
        <h3>Lot #@Model.Id</h3>


        <h3>Registration Year:@Model.RegistrationYear</h3>


        <h3>Model Specifer:@Model.ModelSpecifer</h3>


        <h3>EngineCapacity:@Model.EngineCapacity</h3>

    </div>



    <div class="col-md-4">
        <h5><i class="fa fa-home"></i> Physical Address:</h5>

       

        <h5><i class="fa fa-envelope"></i> Mailing Address:</h5>
        
    </div>
</div>

