@model CarAuction.Models.DTO.LoginDto
@{
    ViewData["Title"] = "Login";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Login</h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <form method="post" action="@Url.Action("LoginUser", "Account")">
            @ViewBag.msg
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

