@{
    ViewData["Title"] = "No Live Auction";
}



<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4" style="font-weight: bold;">No Live Auction Current</h1>
</div>

