@{
    ViewData["Title"] = "Home Page";
}
</br>
</br>
<div class="text-center">
    <h1 class="display-4">100% Online Auto Auctions</h1>
    <h2>Used and Damaged Cars, Motorcycles & More for Sale</h2>
</div>

<h2>Make</h2>
<form method="post" action="@Url.Action("Search", "Vehicle")">
    <div>
        <button class="navbar-toggler" type="submit" value="Alfa Romeo" name="producer">Alfa Romeo</button>
        <button class="navbar-toggler" type="submit" value="Audi" name="producer">Audi</button>
        <button class="navbar-toggler" type="submit" value="BMW" name="producer">BMW</button>
        <button class="navbar-toggler" type="submit" value="Cupra" name="producer">Cupra</button>
        <button class="navbar-toggler" type="submit" value="Chevrolet" name="producer">Chevrolet</button>
        <button class="navbar-toggler" type="submit" value="Citroen" name="producer">Citroen</button>
        <button class="navbar-toggler" type="submit" value="Dacia" name="producer">Dacia</button>
        <button class="navbar-toggler" type="submit" value="Dodge" name="producer">Dodge</button>
        <button class="navbar-toggler" type="submit" value="FIAT" name="producer">FIAT</button>
        <button class="navbar-toggler" type="submit" value="Ford" name="producer">Ford</button>
        <button class="navbar-toggler" type="submit" value="Honda" name="producer">Honda</button>
        <button class="navbar-toggler" type="submit" value="Hyundai" name="producer">Hyundai</button>
        <button class="navbar-toggler" type="submit" value="Kia" name="producer">Kia</button>
        <button class="navbar-toggler" type="submit" value="Land Rover" name="producer">Land Rover</button>
        <button class="navbar-toggler" type="submit" value="Jeep" name="producer">Jeep</button>
        <button class="navbar-toggler" type="submit" value="Lexus" name="producer">Lexus</button>
        <button class="navbar-toggler" type="submit" value="Mazda" name="producer">Mazda</button>
        <button class="navbar-toggler" type="submit" value="Mercedes" name="producer">Mercedes</button>
        <button class="navbar-toggler" type="submit" value="Mini" name="producer">Mini</button>
        <button class="navbar-toggler" type="submit" value="Mitsubishi" name="producer">Mitsubishi</button>
        <button class="navbar-toggler" type="submit" value="Nissan" name="producer">Nissan</button>
        <button class="navbar-toggler" type="submit" value="Opel" name="producer">Opel</button>
        <button class="navbar-toggler" type="submit" value="Peugeot" name="producer">Peugeot</button>
        <button class="navbar-toggler" type="submit" value="Renault" name="producer">Renault</button>
        <button class="navbar-toggler" type="submit" value="Seat" name="producer">Seat</button>
        <button class="navbar-toggler" type="submit" value="Skoda" name="producer">Skoda</button>
        <button class="navbar-toggler" type="submit" value="Subaru" name="producer">Subaru</button>
        <button class="navbar-toggler" type="submit" value="Suzuki" name="producer">Suzuki</button>
        <button class="navbar-toggler" type="submit" value="Tesla" name="producer">Tesla</button>
        <button class="navbar-toggler" type="submit" value="Toyota" name="producer">Toyota</button>
        <button class="navbar-toggler" type="submit" value="Volkswagen" name="producer">Volkswagen</button>
        <button class="navbar-toggler" type="submit" value="Volvo" name="producer">Volve</button>
    </div>


    <h2>Damage</h2>
    <div>


        <button class="navbar-toggler" type="submit" value="All_Over" name="damage">All Over</button>
        <button class="navbar-toggler" type="submit" value="Burn" name="damage">Burn</button>
        <button class="navbar-toggler" type="submit" value="Burn_Engine" name="damage">Burn Engine</button>
        <button class="navbar-toggler" type="submit" value="Front_End" name="damage">Front End</button>
        <button class="navbar-toggler" type="submit" value="Hail" name="damage">Hail</button>
        <button class="navbar-toggler" type="submit" value="Mechanical" name="damage">Mechanical</button>
        <button class="navbar-toggler" type="submit" value="Minor_Dents_Scratch" name="damage">Minor Dents Scratch</button>
        <button class="navbar-toggler" type="submit" value="Normal_Weare" name="damage">Normal Wear</button>
        <button class="navbar-toggler" type="submit" value="Rear_End" name="damage">Rear End</button>
        <button class="navbar-toggler" type="submit" value="Rollover" name="damage">Rollover</button>
        <button class="navbar-toggler" type="submit" value="Side" name="damage">Side</button>
        <button class="navbar-toggler" type="submit" value="Top_Roof" name="damage">Top_Roof</button>
        <button class="navbar-toggler" type="submit" value="Undercarriagee" name="damage">Undercarriage</button>
        <button class="navbar-toggler" type="submit" value="Unknown" name="damage">Unknown</button>
        <button class="navbar-toggler" type="submit" value="Vandalism" name="damage">Vandalism</button>

    </div>

</form>
