@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">100% Online Auto Auctions</h1>
    <h2>Used and Damaged Cars, Motorcycles & More for Sale</h2>


   


</div>
