@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">100% Online Auto Auctions</h1>
    <h2>Used and Damaged Cars, Motorcycles & More for Sale</h2>
</div>

<h2>Make</h2>
<form method="post" action="@Url.Action("Search", "Vehicle")">
    <div>
        <button class="navbar-toggler" type="submit" value="alfa_romeo" name="producer">Alfa_Romeo</button>
        <button class="navbar-toggler" type="submit" value="audi" name="producer">Audi</button>
        <button class="navbar-toggler" type="submit" value="bmw" name="producer">BMW</button>
        <button class="navbar-toggler" type="submit" value="cupra" name="producer">Cupra</button>
        <button class="navbar-toggler" type="submit" value="chevrolet" name="producer">Chevrolet</button>
        <button class="navbar-toggler" type="submit" value="citroen" name="producer">Citroen</button>
        <button class="navbar-toggler" type="submit" value="dacia" name="producer">Dacia</button>
        <button class="navbar-toggler" type="submit" value="dodge" name="producer">Dodge</button>
        <button class="navbar-toggler" type="submit" value="fiat" name="producer">FIAT</button>
        <button class="navbar-toggler" type="submit" value="ford" name="producer">Ford</button>
        <button class="navbar-toggler" type="submit" value="honda" name="producer">Honda</button>
        <button class="navbar-toggler" type="submit" value="hyundai" name="producer">Hyundai</button>
        <button class="navbar-toggler" type="submit" value="kid" name="producer">Kia</button>
        <button class="navbar-toggler" type="submit" value="land_rover" name="producer">Land_Rover</button>
        <button class="navbar-toggler" type="submit" value="jeep" name="producer">Jeep</button>
        <button class="navbar-toggler" type="submit" value="lexus" name="producer">Lexus</button>
        <button class="navbar-toggler" type="submit" value="mazda" name="producer">Mazda</button>
        <button class="navbar-toggler" type="submit" value="mercedes" name="producer">Mercedes</button>
        <button class="navbar-toggler" type="submit" value="mini" name="producer">Mini</button>
        <button class="navbar-toggler" type="submit" value="mitsubishi" name="producer">Mitsubishi</button>
        <button class="navbar-toggler" type="submit" value="nissan" name="producer">Nissan</button>
        <button class="navbar-toggler" type="submit" value="opel" name="producer">Opel</button>
        <button class="navbar-toggler" type="submit" value="peugeot" name="producer">Peugeot</button>
        <button class="navbar-toggler" type="submit" value="renault" name="producer">Renault</button>
        <button class="navbar-toggler" type="submit" value="seat" name="producer">Seat</button>
        <button class="navbar-toggler" type="submit" value="skoda" name="producer">Skoda</button>
        <button class="navbar-toggler" type="submit" value="subaru" name="producer">Subaru</button>
        <button class="navbar-toggler" type="submit" value="suzuki" name="producer">Suzuki</button>
        <button class="navbar-toggler" type="submit" value="tesla" name="producer">Tesla</button>
        <button class="navbar-toggler" type="submit" value="toyota" name="producer">Toyota</button>
        <button class="navbar-toggler" type="submit" value="volkswagen" name="producer">Volkswagen</button>
        <button class="navbar-toggler" type="submit" value="volve" name="producer">Volve</button>
    </div>


    <h2>Damage</h2>
    <div>


        <button class="navbar-toggler" type="submit" value="All_Over" name="damage">All_Over</button>
        <button class="navbar-toggler" type="submit" value="Burn" name="damage">Burn</button>
        <button class="navbar-toggler" type="submit" value="Burn_Engine" name="damage">Burn_Engine</button>
        <button class="navbar-toggler" type="submit" value="Front_End" name="damage">Front_End</button>
        <button class="navbar-toggler" type="submit" value="Hail" name="damage">Hail</button>
        <button class="navbar-toggler" type="submit" value="Mechanical" name="damage">Mechanical</button>
        <button class="navbar-toggler" type="submit" value="Minor_Dents_Scratch" name="damage">Minor_Dents_Scratch</button>
        <button class="navbar-toggler" type="submit" value="Normal_Weare" name="damage">Normal_Wear</button>
        <button class="navbar-toggler" type="submit" value="Rear_End" name="damage">Rear_Ende</button>
        <button class="navbar-toggler" type="submit" value="Rollover" name="damage">Rollover</button>
        <button class="navbar-toggler" type="submit" value="Side" name="damage">Side</button>
        <button class="navbar-toggler" type="submit" value="Top_Roof" name="damage">Top_Roof</button>
        <button class="navbar-toggler" type="submit" value="Undercarriagee" name="damage">Undercarriage</button>
        <button class="navbar-toggler" type="submit" value="Unknown" name="damage">Unknown</button>
        <button class="navbar-toggler" type="submit" value="Vandalism" name="damage">Vandalism</button>

    </div>

</form>
