@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4" style="font-weight: bold;">Authors:</h1>
    <h2>Kornel Gołębiewski</h2>
    <h2>Krzysztof Góral</h2>

</div>